h1, h2 {
    text-align: center;
}

#genre-list, #add-button-form, #add-genre-button-form, #all-shows-button{
    text-align: center;
}


body{

    background-image: url("https://media.giphy.com/media/UsSqh1tDV8rVUZCJF3/giphy.gif");
}